<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/print" method="POST" style="display: block; width: 100px" >
		<label>
			<span>Name</span>
			<input type="text" name="name" />
			<span>Surname</span>
			<input type="text" name="surname" />
			<span>Class</span>
			<input type="text" name="class" />

			<% for (let i = 0; i < 10; i++) { %>
				<span><%= 'Task ' + i %></span>
				<input type="text" name="<%= 'task' + i %>" />
			<% } %>
		</label>
		<button type="submit"> Submit </button>
	</form>
</body>
</html>